body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  text-decoration: none !important;
.margin
  margin: 8px
.margin-left
  margin: 0 0 0 8px
.align-top
  vertical-align: top